{% extends 'base.html.twig' %}

{% block title %}Modifier l'étudiant{% endblock %}

{% block body %}
    <h1>Modifier l'étudiant</h1>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

        <div class="mb-3">
            {{ form_label(form.nom, null, {'class': 'form-label'}) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom'}}) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.prenom, null, {'class': 'form-label'}) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le prénom'}}) }}
            {{ form_errors(form.prenom) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.email, null, {'class': 'form-label'}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez l\'email'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <button type="submit" class="btn btn-primary">Mettre à jour</button>

    {{ form_end(form) }}
{% endblock %}
